<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Cursos adicionales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuáles son mis cursos adicionales?</ion-card-subtitle>
        <ion-card-title>Cursos Adicionales Kimberly Jiménez</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Curso:</b>Curso de Ensamblaje y mantenimiento de computadoras<br>
        <b>Lugar:</b>Colegio Particular San Benildo “La Salle”<br><br>
        <b>Curso:</b>Curso Online Programación paso a passo com Java<br>
        <b>Lugar:</b>D-POL Innovation of Education<br><br>
      </ion-card-content>
    </ion-card>
  </ion-content>
