<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Referencias Laborales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuáles son mis referencias laborales?</ion-card-subtitle>
        <ion-card-title>Referencias laborales Kimberly Jiménez</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Nombre:</b> Norma Rendón<br>
        <b>Teléfono:</b> 0982506906<br><br>
        <b>Nombre:</b> Eduardo Tenesaca<br>
        <b>Teléfono:</b> 0997676254<br><br>
        
      </ion-card-content>
    </ion-card>
  </ion-content>
