<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Educación Académica</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuál es mi formación académica?</ion-card-subtitle>
        <ion-card-title>Educación Académica Kimberly Jiménez</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Primaria:</b> Escuela Fiscal Mixta "Pequeñitos del futuro"<br>
        <b>Secundaria:</b> Colegio Particular San Benildo "La Salle"<br>
        <b>Título obtenido:</b> Bachiller en Comercio y Administración<br>
        <b>Especialización:</b> Aplicaciones Informáticas<br>
        <b>Universidad:</b> Universidad de Guayaquil<br>
        <b>Facultad:</b> Facultad de Ingeniería Industrial<br>
        <b>Carrera:</b> Ingeniería en Sistemas de Información<br>
        <b>Nivel:</b> 6to Semestre<br>
      </ion-card-content>
    </ion-card>
  </ion-content>

  