<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Referencias Laborales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuáles son mis referencias personales?</ion-card-subtitle>
        <ion-card-title>Referencias personales Kimberly Jiménez</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Nombre:</b> Belquis Rendón<br>
        <b>Teléfono:</b> 0998172656<br><br>
        <b>Nombre:</b> Rosalba Matamoros<br>
        <b>Teléfono:</b> 0939179747<br><br>
        <b>Nombre:</b> Allison Loaiza<br>
        <b>Teléfono:</b> 0961470099<br><br>
      </ion-card-content>
    </ion-card>
  </ion-content>

