<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Experiencias Laborales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuál es mi experiencia laboral?</ion-card-subtitle>
        <ion-card-title>Experiencia Laboral Kimberly Jiménez</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Empresa:</b> Cabinas Telefónicas "Kary"<br>
        <b>Cargo:</b> Cajera - Atención al cliente<br>
        <b>Tiempo:</b> 4 años<br><br>
        <b>Empresa:</b> ViaCompu Electronics<br>
        <b>Cargo:</b> Asistente técnico en computadoras<br>
        <b>Tiempo:</b> 3 meses<br><br>
        <b>Empresa:</b> Cyber J@J Net<br>
        <b>Cargo:</b> Cajera - Atención al cliente<br>
        <b>Tiempo:</b> 3 años<br><br>
        <b>Empresa:</b> Sistem<br>
        <b>Cargo:</b> Operador telefónico<br>
        <b>Tiempo:</b> 1 año<br><br>
      </ion-card-content>
    </ion-card>
  </ion-content>