<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>datos personales</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    
  
  <ion-card>
      <ion-card-header>
        <ion-card-subtitle>¿Cuáles son mis datos personales?</ion-card-subtitle>
        <ion-card-title>Datos personales Kimberly Jiménez</ion-card-title>
      </ion-card-header>
  
      <ion-card-content>
        <b>Nombre:</b> Kimberly Antonella Jiménez Olivo<br>
        <b>Lugar de nacimiento:</b> Guayaquil, Guayas<br>
        <b>Fecha de nacimiento:</b> 26 de enero de 1995<br>
        <b>Edad:</b> 25 años<br>
        <b>Estado civil:</b> Soltera<br>
        <b>Dirección:</b> Floresta 2. Cdla. Los Tulipanes<br>
        <b>Cédula de identidad:</b> 0931077416 <br>
        <b>Teléfono:</b>0968165498 <br>


      </ion-card-content>
    </ion-card>
  </ion-content>
